/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  margin: 10px 0px;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}

header {
  display: flex;
  flex-direction: column;
}

label {
  display:inline-block;
}

/* ---  Groups & Items --- */
.group-row {
  display: flex;
  flex-direcdtion: row;
  justify-content: space-around;
  margin: 10px;
 
  border: 1px solid rgb(13, 219, 102);
}

.group-col {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
  justify-content: space-between;
}

.form-item {
  border: 1px solid blue; 
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.item-double {
  flex: 2;
}

.sect {
  display: flex;
  flex-direction: column;
  padding:0px 20px;
}
.sect > img {
  width: 100%;
  margin: 20px 0px;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
  width: auto;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 0px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (max-width:390px) {
  .logo {
    font-size: 40px;
  }
  label, input, select {
    font-size: 12px;
    display:block;
    margin: 5px 0px;
  }
  form input, form select {
    width:100%;
  }
  .form-item {
    display:block
  }
}

@media all and (min-width:480px) {
.logo {
  font-size: 40px;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav {
  font-size: 14px;
}

.sect {
  flex-direction: row;
  width:100%;
}

.sect img {
  width: 100%;
}

#about img{
  flex:1;
}
#about p {
  flex:2;
}

}